body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    scroll-behavior: smooth;
    --background-color: white;
    --text-color: black;
    --spacing-regular: 1rem;
}

.default-nav {
    position: fixed;
    background: aliceblue;
    width: 100%;
    z-index: 1;
}

nav {
    padding: 16px;
}

nav a {
    font-size: large;
    margin: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 16px;
}

.container>div>h2 {
    text-align: center;
}

.intro {
    margin: -16px;
    margin-top: 16px;
    padding: 15px;
    background-color: #B3E6B5;
    color: darkblue;
    text-align: center;
}

#profile {
    width: 300px;
    height: 350px;
    filter: drop-shadow(5px 4px 7px rgb(43, 1, 1));
}

.social img {
    text-decoration: none;
    margin: 15px;
    width: 30px;
    height: 30px;
}

table,
tr,
th,
td {
    border: 1px solid violet;
    border-collapse: collapse;
}

td,
th {
    text-align: center;
    padding: 8px;
}

p {
    font-size: 1.5rem;
}

#hobbies li,
#skills li {
    line-height: 30px;
    font-size: 1.1rem;
    color: blue;
}

table th {
    font-family: 'Courier New', Courier, monospace;
}

#tech {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-regular);
    justify-content: center;
    justify-items: center;
}

.card {
    border: 1px solid rgb(218, 47, 218);
    padding: var(--spacing-regular);
    box-shadow: 3px 3px 14px 5px purple;
    width: 100%;
    box-sizing: border-box;
}

.card ul {
    list-style: none;
    /* text-align: center; */
    padding: 0;
}

.card header h1 {
    text-align: center;
}

.dynamic-text-color {
    color: rgb(198, 175, 5);
}

.mobile-nav,
section.menu {
    display: none;
}

@media (width<500px) {
    .default-nav {
        display: none;
    }

    .mobile-nav {
        display: revert;
    }

    #menu-button {
        display: block;
        background: transparent;
        border-radius: 5px;
    }

    section.menu {
        display: revert;
        height: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: rgb(4, 245, 169);
        width: 100%;
    }

    section.menu ul {
        list-style: none;
    }

    section.menu ul>li {
        margin-bottom: 16px;
    }

    section.menu nav {
        margin-top: 48px;
        font-size: 1.5rem;
    }

    #close-menu {
        position: absolute;
        right: 16px;
        top: 16px;
        background: transparent;
        border: none;
        font-size: x-large;
    }
}

@media (width<320px) {
    #profile {
        width: 100%;
    }
}