body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

:root {
    scroll-behavior: smooth;
    --background-color: white;
    --text-color: black;
    --mobile-nav-color: aliceblue;

    --font-size-small: .5rem;
    --font-size-regular: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xl: 2rem;

    --spacing-regular: 16px;
    --spacing-small: calc(var(--spacing-regular)/2);
}

.default-nav {
    position: fixed;
    background: aliceblue;
    width: 100%;
    z-index: 1;
}

.container section {
    scroll-margin-top: 50px;
}

nav {
    padding: 16px;
}

nav a {
    font-size: large;
    margin: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 16px;
    background-color: var(--mobile-nav-color);
}

h2 {
    text-align: center;
}

.intro {
    margin: -16px;
    margin-top: 16px;
    padding: 15px;
    background-color: #B3E6B5;
    color: darkblue;
    text-align: center;
}

#profile {
    width: 300px;
    height: 350px;
    filter: drop-shadow(5px 4px 7px rgb(43, 1, 1));
}

.social img {
    text-decoration: none;
    margin: 15px;
    width: 30px;
    height: 30px;
}

p {
    font-size: 1.5rem;
}

#hobbies li,
#skills li {
    line-height: 30px;
    font-size: 1.1rem;
    color: blue;
}

#tech .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-regular);
    justify-content: center;
    justify-items: center;
}

.card {
    border: 1px solid #85cff9;
    padding: var(--spacing-regular);
    box-shadow: 3px 3px 14px 5px #85cff9;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--spacing-regular);
    transition: transform .2s ease-in, box-shadow .2s ease-in-out;
}

.card:hover {
    box-shadow: 3px 3px 14px 5px #0789d9;
    transform: translateY(calc(-1*var(--spacing-small)));
}

.card ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.card header h1 {
    text-align: center;
    font-size: var(--font-size-large);
    margin: 0;
}

.dynamic-text-color {
    color: rgb(198, 175, 5);
}

.mobile-nav,
section.menu {
    display: none;
}

@media (width<500px) {
    .intro {
        margin-top: -16px;
    }

    .default-nav {
        display: none;
    }

    .mobile-nav {
        display: revert;
        background-color: var(--mobile-nav-color);
    }

    #menu-button {
        display: block;
        background: transparent;
        border-radius: 5px;
    }

    section.menu {
        display: revert;
        height: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: rgb(4, 245, 169);
        width: 100%;
    }

    section.menu ul {
        list-style: none;
    }

    section.menu ul>li {
        margin-bottom: 16px;
    }

    section.menu nav {
        margin-top: 48px;
        font-size: 1.5rem;
    }

    #close-menu {
        position: absolute;
        right: 16px;
        top: 16px;
        background: transparent;
        border: none;
        font-size: x-large;
    }
}

@media (width<320px) {
    #profile {
        width: 100%;
    }
}

@media (prefers-color-scheme:dark) {
    :root {
        --mobile-nav-color: #1C2227;
    }

    body {
        --background-color: black;
        --text-color: white;
    }

    .intro {
        background-color: #10401A;
        color: white;
    }

    #hobbies li,
    #skills li {
        color: #CF98FF;
    }

    .default-nav {
        background: #1C2227;
    }

    nav a {
        color: #9E9EFF;
    }

    #menu-button {
        color: white;
        border-color: #3E3E3E;
    }

    section.menu {
        background-color: #1C2227;
    }

    #close-menu {
        color: white;
    }

    .card {
        box-shadow: 3px 3px 14px 5px purple;
        border: 1px solid rgb(218, 47, 218);
    }

    .card:hover {
        box-shadow: 3px 3px 14px 5px #8604ae;
    }
}